<div class="card" id="login-card">
                <h2>Login</h2>
                <form id="login-form">
                    <label for="email-login">Email:</label>
                   <input type="email" id="email-login" name="email" value="random_email@example.com" required>
                    <label for="password-login">Password:</label>
                    <input type="email" id="email-signup" name="email" required>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    
<script src="/public/login.js"></script>