<div class="container">
            {{!-- Signup Form --}}
            <div class="card" id="signup-card">
                <h2>Sign Up</h2>
                <form id="signup-form">
                    <label for="email-signup">Email:</label>
                    <input type="email" id="email-signup" name="email" required>
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" name="password" required>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
<script src="/public/signup.js"></script>